@import "tailwindcss";
@import "tw-animate-css";

:root {
  --background: oklch(0.14 0 0);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.21 0 0);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.56 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.37 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.7 0.19 22.23);
  --destructive-foreground: oklch(0.27 0 0);
  --border: oklch(0.34 0 0);
  --input: oklch(0.44 0 0);
  --ring: oklch(0.56 0 0);
  --chart-1: oklch(0.56 0 0);
  --chart-2: oklch(0.56 0 0);
  --chart-3: oklch(0.56 0 0);
  --chart-4: oklch(0.56 0 0);
  --chart-5: oklch(0.56 0 0);
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.99 0 0);
  --sidebar-primary-foreground: oklch(0.2 0 0);
  --sidebar-accent: oklch(0.27 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1 0 0);
  --sidebar-ring: oklch(0.44 0 0);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
}

.mono {
  --background: oklch(0.14 0 0);
  --foreground: oklch(0.99 0 0);
  --card: oklch(0.21 0 0);
  --card-foreground: oklch(0.99 0 0);
  --popover: oklch(0.27 0 0);
  --popover-foreground: oklch(0.99 0 0);
  --primary: oklch(0.56 0 0);
  --primary-foreground: oklch(0.99 0 0);
  --secondary: oklch(0.27 0 0);
  --secondary-foreground: oklch(0.99 0 0);
  --muted: oklch(0.27 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.37 0 0);
  --accent-foreground: oklch(0.99 0 0);
  --destructive: oklch(0.7 0.19 22.23);
  --destructive-foreground: oklch(0.27 0 0);
  --border: oklch(0.34 0 0);
  --input: oklch(0.44 0 0);
  --ring: oklch(0.56 0 0);
  --chart-1: oklch(0.56 0 0);
  --chart-2: oklch(0.56 0 0);
  --chart-3: oklch(0.56 0 0);
  --chart-4: oklch(0.56 0 0);
  --chart-5: oklch(0.56 0 0);
  --sidebar: oklch(0.2 0 0);
  --sidebar-foreground: oklch(0.99 0 0);
  --sidebar-primary: oklch(0.99 0 0);
  --sidebar-primary-foreground: oklch(0.2 0 0);
  --sidebar-accent: oklch(0.27 0 0);
  --sidebar-accent-foreground: oklch(0.99 0 0);
  --sidebar-border: oklch(1 0 0);
  --sidebar-ring: oklch(0.44 0 0);
  --font-sans: Geist Mono, monospace;
  --font-serif: Geist Mono, monospace;
  --font-mono: Geist Mono, monospace;
  --radius: 0rem;
  --shadow-2xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-xs: 0px 1px 0px 0px hsl(0 0% 0% / 0);
  --shadow-sm: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow: 0px 1px 0px 0px hsl(0 0% 0% / 0), 0px 1px 2px -1px hsl(0 0% 0% / 0);
  --shadow-md: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 2px 4px -1px hsl(0 0% 0% / 0);
  --shadow-lg: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 4px 6px -1px hsl(0 0% 0% / 0);
  --shadow-xl: 0px 1px 0px 0px hsl(0 0% 0% / 0),
    0px 8px 10px -1px hsl(0 0% 0% / 0);
  --shadow-2xl: 0px 1px 0px 0px hsl(0 0% 0% / 0);
}

/* bubblegum theme */

.bubblegum {
  --background: oklch(0.25 0.03 234.16);
  --foreground: oklch(0.93 0.02 349.08);
  --card: oklch(0.29 0.03 233.54);
  --card-foreground: oklch(0.93 0.02 349.08);
  --popover: oklch(0.29 0.03 233.54);
  --popover-foreground: oklch(0.93 0.02 349.08);
  --primary: oklch(0.92 0.08 87.67);
  --primary-foreground: oklch(0.25 0.03 234.16);
  --secondary: oklch(0.78 0.08 4.13);
  --secondary-foreground: oklch(0.25 0.03 234.16);
  --muted: oklch(0.27 0.01 255.58);
  --muted-foreground: oklch(0.78 0.08 4.13);
  --accent: oklch(0.67 0.1 356.98);
  --accent-foreground: oklch(0.93 0.02 349.08);
  --destructive: oklch(0.67 0.18 350.36);
  --destructive-foreground: oklch(0.25 0.03 234.16);
  --border: oklch(0.39 0.04 242.22);
  --input: oklch(0.31 0.03 232);
  --ring: oklch(0.7 0.09 201.87);
  --chart-1: oklch(0.7 0.09 201.87);
  --chart-2: oklch(0.78 0.08 4.13);
  --chart-3: oklch(0.67 0.1 356.98);
  --chart-4: oklch(0.44 0.07 217.08);
  --chart-5: oklch(0.27 0.01 255.58);
  --sidebar: oklch(0.23 0.03 235.97);
  --sidebar-foreground: oklch(0.97 0 264.54);
  --sidebar-primary: oklch(0.66 0.21 354.31);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.82 0.11 346.02);
  --sidebar-accent-foreground: oklch(0.28 0.03 256.85);
  --sidebar-border: oklch(0.37 0.03 259.73);
  --sidebar-ring: oklch(0.66 0.21 354.31);
  --font-sans: Poppins, sans-serif;
  --font-serif: Lora, serif;
  --font-mono: Fira Code, monospace;
  --radius: 0.4rem;
  --shadow-2xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.5);
  --shadow-xs: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 0.5);
  --shadow-sm: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 1px 2px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-md: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 2px 4px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-lg: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 4px 6px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 1),
    3px 8px 10px -1px hsl(206.15 28.06% 27.25% / 1);
  --shadow-2xl: 3px 3px 0px 0px hsl(206.15 28.06% 27.25% / 2.5);
}

.doom {
  --background: oklch(0.22 0 0);
  --foreground: oklch(0.91 0 0);
  --card: oklch(0.29 0 0);
  --card-foreground: oklch(0.91 0 0);
  --popover: oklch(0.29 0 0);
  --popover-foreground: oklch(0.91 0 0);
  --primary: oklch(0.61 0.21 27.03);
  --primary-foreground: oklch(1 0 0);
  --secondary: oklch(0.64 0.15 133.01);
  --secondary-foreground: oklch(0 0 0);
  --muted: oklch(0.26 0 0);
  --muted-foreground: oklch(0.71 0 0);
  --accent: oklch(0.75 0.12 244.75);
  --accent-foreground: oklch(0 0 0);
  --destructive: oklch(0.78 0.17 68.09);
  --destructive-foreground: oklch(0 0 0);
  --border: oklch(0.41 0 0);
  --input: oklch(0.41 0 0);
  --ring: oklch(0.61 0.21 27.03);
  --chart-1: oklch(0.61 0.21 27.03);
  --chart-2: oklch(0.64 0.15 133.01);
  --chart-3: oklch(0.75 0.12 244.75);
  --chart-4: oklch(0.78 0.17 68.09);
  --chart-5: oklch(0.65 0.03 40.8);
  --sidebar: oklch(0.19 0 0);
  --sidebar-foreground: oklch(0.91 0 0);
  --sidebar-primary: oklch(0.61 0.21 27.03);
  --sidebar-primary-foreground: oklch(1 0 0);
  --sidebar-accent: oklch(0.75 0.12 244.75);
  --sidebar-accent-foreground: oklch(0 0 0);
  --sidebar-border: oklch(0.41 0 0);
  --sidebar-ring: oklch(0.61 0.21 27.03);
  --font-sans: "Oxanium", sans-serif;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: "Source Code Pro", monospace;
  --radius: 0px;
  --shadow-2xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
  --shadow-xs: 0px 2px 5px 0px hsl(0 0% 0% / 0.3);
  --shadow-sm: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 1px 2px -1px hsl(0 0% 0% / 0.6);
  --shadow: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 1px 2px -1px hsl(0 0% 0% / 0.6);
  --shadow-md: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 2px 4px -1px hsl(0 0% 0% / 0.6);
  --shadow-lg: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 4px 6px -1px hsl(0 0% 0% / 0.6);
  --shadow-xl: 0px 2px 5px 0px hsl(0 0% 0% / 0.6),
    0px 8px 10px -1px hsl(0 0% 0% / 0.6);
  --shadow-2xl: 0px 2px 5px 0px hsl(0 0% 0% / 1.5);
}

.mocha {
  --background: oklch(0.27 0.01 48.18);
  --foreground: oklch(0.95 0.01 102.46);
  --card: oklch(0.33 0.02 50.89);
  --card-foreground: oklch(0.95 0.01 102.46);
  --popover: oklch(0.33 0.02 50.89);
  --popover-foreground: oklch(0.95 0.01 102.46);
  --primary: oklch(0.73 0.05 52.33);
  --primary-foreground: oklch(0.27 0.01 48.18);
  --secondary: oklch(0.54 0.05 37.21);
  --secondary-foreground: oklch(0.95 0.01 102.46);
  --muted: oklch(0.41 0.03 40.36);
  --muted-foreground: oklch(0.76 0.04 50.86);
  --accent: oklch(0.75 0.04 80.55);
  --accent-foreground: oklch(0.27 0.01 48.18);
  --destructive: oklch(0.69 0.14 21.46);
  --destructive-foreground: oklch(0.27 0.01 48.18);
  --border: oklch(0.41 0.03 40.36);
  --input: oklch(0.41 0.03 40.36);
  --ring: oklch(0.73 0.05 52.33);
  --chart-1: oklch(0.73 0.05 52.33);
  --chart-2: oklch(0.75 0.04 80.55);
  --chart-3: oklch(0.61 0.06 44.36);
  --chart-4: oklch(0.54 0.05 37.21);
  --chart-5: oklch(0.64 0.04 52.39);
  --sidebar: oklch(0.22 0.01 52.96);
  --sidebar-foreground: oklch(0.95 0.01 102.46);
  --sidebar-primary: oklch(0.73 0.05 52.33);
  --sidebar-primary-foreground: oklch(0.22 0.01 52.96);
  --sidebar-accent: oklch(0.75 0.04 80.55);
  --sidebar-accent-foreground: oklch(0.22 0.01 52.96);
  --sidebar-border: oklch(0.41 0.03 40.36);
  --sidebar-ring: oklch(0.73 0.05 52.33);
  --font-sans: DM Sans, sans-serif;
  --font-serif: Georgia, serif;
  --font-mono: Menlo, monospace;
  --radius: 0.5rem;
  --shadow-2xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-xs: 2px 2px 0px 0px hsl(20 18% 30% / 0.06);
  --shadow-sm: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 1px 2px -1px hsl(20 18% 30% / 0.11);
  --shadow-md: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 2px 4px -1px hsl(20 18% 30% / 0.11);
  --shadow-lg: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 4px 6px -1px hsl(20 18% 30% / 0.11);
  --shadow-xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.11),
    2px 8px 10px -1px hsl(20 18% 30% / 0.11);
  --shadow-2xl: 2px 2px 0px 0px hsl(20 18% 30% / 0.28);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);

  --font-sans: var(--font-sans);
  --font-mono: var(--font-mono);
  --font-serif: var(--font-serif);

  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  --shadow-2xs: var(--shadow-2xs);
  --shadow-xs: var(--shadow-xs);
  --shadow-sm: var(--shadow-sm);
  --shadow: var(--shadow);
  --shadow-md: var(--shadow-md);
  --shadow-lg: var(--shadow-lg);
  --shadow-xl: var(--shadow-xl);
  --shadow-2xl: var(--shadow-2xl);
}
